@font-face {
  font-family: Basic;
  src: url("./Basic-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

* {
  font-family: Basic;
}

/* I tried making variables here but QT doesnt support them*/
/*   --color-crust: #181926; */
/*   --color-surface-0: #363a4f; */
/*   --color-mauve: #c6a0f6; */
/* --color-pink-mauve-hover: #f5c2e7;*/
/*   --color-blue: #8aadf4; */
/*   --color-red: #ed8796; */
/*   --color-text: #cad3f5; */
/* --color-text-hover: #a6adc8;*/
/* --color-surface-2:  #c6a0f6;*/


QWidget {
  background-color: #181926;
}


QPushButton {
  background-color: #c6a0f6;
  color: #363a4f;
  font-size: 25px;
  border: 3px solid #8aadf4;
  padding: 15px 25px;
  border-radius: 10px;
}

QPushButton:hover {
  background-color: #f5c2e7;
  color: #a6adc8;
}

QPlainTextEdit {
  border: none;
  color: #cad3f5;
  font-size: 12px;
}

QLabel {
  padding: 5px 5px;
  color: #cad3f5;
  border-radius: 10px;
  border: 3px solid #8aadf4;
  font-size: 18px;
  background-color: #363a4f;
  opacity: 0.6;
}
