@font-face {
  font-family: nabla;
  src: url("./Nabla-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

QWidget {
  background-color: grey;
}


QPushButton {
  background-color: red;
  
  font-size: 25px;
  font-family: nabla;

  all: unset;
  border: 2px solid black;
  padding: 15px 25px;
  border-radius: 10px;
}

QPlainTextEdit {
  all: unset;
  border: none;
}
